.liste_produits{

    display:grid;
    grid-area: boutique;
    grid-template-columns: 1fr;
    grid-gap: .1em;
}

.tuile{
    @include couleur(var(--c_clair),var(--c_sombre));
    border:1px solid var(--c_sombre_moyen);
    cursor:pointer ;
    display:grid;
    grid-template-columns: repeat(2 , 50%);
    img{
        width: calc(100% - .1em);
        object-fit: contain;
    }
    &>div{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding:.5em;
        
        div{
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            font-size: .8em;
            .prix{
                color:var(--c_theme);
                padding:.2em 0;
            }
        }
        button{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            margin-left:16.5%;
        }
    }
}

/*  effet hover */
    .conteneur_cube{
        perspective: 800px;
        perspective-origin: center;

        .cube{
            transform-style: preserve-3d;
            transform-origin:center;
            position:relative;
            transition: all 1s ease-out;
            &:hover{
                transform-origin:left;
                transform:rotatey(-90deg) translatex(-100%);
            }

            .face{
                button{
                    visibility: hidden;
                }
            }

            .cote_droit{
                position:absolute;
                left:calc(100% - .5em);
                width:calc(100%);
                transform-origin:left;
                transform:translateY(-100%) rotatey(90deg);
            }
        }
    }

@media screen and (min-width: 576px){
    .liste_produits{
        width:100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        h3{
            font-size:1.25em;
        }
    }

    .tuile{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;

    }
}

@media screen and (min-width: 992px){
    .liste_produits{
        width:100%;
        grid-template-columns: repeat(6,calc((100% - .5em)/ 6));
        grid-template-rows: repeat(2, 1fr);
    }

    .tuile{
        grid-template-rows: 1fr 1fr;
        
        img{
            width: calc(100% - .1em);
        }
    }
    
}