header{
    @include couleur(var(--c_clair),var(--c_theme));
    display:grid;
    grid-area: hd;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "t_hd t_hd t_hd panier";
    padding:1em;

    h1{
        font-family: var(--f_titre);
        font-weight: 900;
        font-size : 2em;
        grid-area: t_hd;
        letter-spacing: -.04em;
    }
    
    
    // .panier_actif{
        //     display: block;
        //     background-color: lightgreen;
        //     cursor:pointer ;
        // }
}

.panier{
    @include flexbox(flex,column,center,center);
    grid-area: panier;
    position:relative;
    div{
        @include flexbox(flex,column,center,center); // centrage du texte
        position: absolute;
        left: 57%; top: 21%;
        border-radius: 50%;
        font-family: var(--f_titre);
        font-size: .7em;
        font-weight: 600;
        height:20px;
        //line-height: 2em;
        text-align: center;
        width:20px;
        @include couleur(var(--c_theme),var(--c_clair));

        &.disparait{
            display: none;
        }
    }
    img{
        height:50px;
    }
    
    button{
        @include couleur(var(--c_theme),var(--c_clair));
        border: none;
        border-radius: 3px;
        border:solid 1px var(--c_theme);
        font-family: var(--f_titre);
        font-size: .6em;
        font-weight: 600;
        padding: 0.8em;
        transition: all .3s ease-out;
        &:hover{
            @include couleur(var(--c_clair),var(--c_theme));
            border:solid 1px var(--c_theme);
        }
    }

}
