header{
    @include couleur(var(--c_clair),var(--c_theme));
    box-shadow: 0 0 10px var(--c_sombre_moyen);
    height:150px;
    padding:1em;
    position:fixed;
    top:0;
    transition:.2s;
    width:100%;
    z-index:2;

    /* positionnement interne   */
    display:grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: "t_hd t_hd t_hd panier";

    h1{
        @include flexbox(flex,column,center,flex-start);
        font-family: var(--f_titre);
        font-weight: 900;
        font-size : 2em;
        grid-area: t_hd;
        letter-spacing: -.04em;
    }
    
    
    // .panier_actif{
        //     display: block;
        //     background-color: lightgreen;
        //     cursor:pointer ;
        // }
}

.header_fin{
    height: 100px;
    padding:.5em;
    h1{
        font-size:1.5em;
        margin:0;
    }
    .panier{

        &:panier{
            height: 40px;
        }
        &>div{
            justify-content: flex-start;
            height: 40px;
        }
        img{
            z-index: 0;
            height: 40px;
        }
    }

}

.panier{
    @include flexbox(flex,column,center,center);
    grid-area: panier;
    
    div{
        @include flexbox(flex,column,center,center);
        position:relative;
        height: 60px;
        width: 60px;
        div{
            @include flexbox(flex,column,center,center); // centrage du texte
            border-radius: 50%;    
            position: absolute;
            left: 62%; top: 21%;
            font-family: var(--f_titre);
            font-size: .7em;
            font-weight: 600;
            height:20px;
            text-align: center;
            width:20px;
            @include couleur(var(--c_theme),var(--c_clair));
    
            &.disparait{
                display: none;
            }
        }
        img{
            height:50px;
        }

    }

}

@media screen and (min-width: 576px){
    header h1{
        font-size: 3em;
        margin: .3em 0;
    }
}

@media screen and (min-width: 992px){
    header{
        grid-template-areas: "t_hd t_hd t_hd t_hd t_hd panier";
        h1{
            font-size: 3em;
            margin: .3em 0;
        }
    } 
}