/**
* Javascript TP2
* feuille de style principale
*/

@import "_mixin_variables.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/brands.scss";
@import "_titre_section.scss";
@import "_filtre.scss";
@import "_bouton.scss";
@import "_header.scss";
@import "_boutique.scss";
@import "_panier.scss";

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body{
    font-family: var(--f_texte);
    //max-width: 100%;
    width:100vw;

    @include couleur(var(--c_clair),var(--c_sombre));
}

.wrapper-page{
    /*  positionnement relatif par rapport au header   */
    position: relative;
    top:150px;
    width:100vw;
}

footer{
    @include couleur(var(--c_sombre_moyen),var(--c_clair));
    padding:5em;
    text-align: center;
}



/* Classe */



.inventaire_nul{
    pointer-events: none;
    opacity: .5;
}

.disparait{
    display: none;
}



fieldset{
    ul{
        li{
            margin-bottom: 0.5em;
            input{
                &:invalid{
                    background-color: lightpink;
                }
                
                &:valid{
                    background-color: lightgreen;
                }
            }

            p{
                margin:0.2em;
                font-size: .8em;
            }
        }
    }
}
