@charset "UTF-8";
/**
* Javascript TP2
* feuille de style principale
*/
/* variables et mixin */
/* variables couleurs */
/* variables fontes */
/* variables taille écran (basées sur les grilles bootstrap) */
/* variables icone */
/* mixin */
/* line 8, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../sass/style.scss */
body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  padding: 2em;
  width: 100vw;
  background-color: #000807;
  color: #6b717e;
}

/* Classe */
/* line 23, ../sass/style.scss */
.logo div {
  border-radius: 50%;
  height: 20px;
  text-align: center;
  width: 20px;
  background-color: #657ed4;
  color: #eaf2ef;
}
/* line 30, ../sass/style.scss */
.logo img {
  height: 50px;
}
